@{
    ViewBag.Title = "Directorio - Sahuro Test";
}
<h2>
    Descripción de Prueba Sahuro</h2>
<p>
    Crear Aplicación Web/MVC (Razor), que incluya componentes DevExpress:</p>
<ol>
    <li>CRUD (Altas / Bajas y Cambios) Directorio de Teléfonos</li>
    <li>Utilizar el grid MVCxGridView</li>
    <li>Back: (LocalDB)\MSSQLLocalDB, Aplicar Entity Framework + LINQ</li>
    <li>Pantallas:<br />
        Lista de Personas<br />
        Editar Persona</li>
    <li>Campos: Nombre, Fecha de Nacimiento, Fotografía</li>
    <li>Una persona puede tener N teléfonos</li>
    <li>Controlar las validaciones y errores de los campos de captura y de la aplicación</li>
</ol>
